body {
  margin: 0;
  padding: 0; }

section, aside {
  display: inline-block;
  vertical-align: top; }

section {
  width: 75%;
  padding: 20px; }

aside {
  width: 23%; }

form {
  display: none; }

.show {
  display: block; }
