body {
  margin: 0;
  padding: 0;
}

.box {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding:10px;
}

.box img {
  width: 100%;
}

section, aside {
  display: inline-block;
  vertical-align: top;
}
section{
  width: 75%;
}
aside {
  width: 23%;
}
