<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Layout</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
  </header>
  <h1>My Blog</h1>
<section>
  <article>
    <h3>Adams's Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur optio ipsa totam distinctio asperiores magnam vitae veniam! Perspiciatis eaque delectus sunt, molestias quae explicabo ad laudantium aut omnis laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae in ea repellendus consequatur, impedit, sed deserunt officia? Consectetur consequuntur ipsa deleniti sequi vitae qui reiciendis, sint tempore porro voluptatem non?</p>
  </article>
  <article>
    <h3>Blog Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur optio ipsa totam distinctio asperiores magnam vitae veniam! Perspiciatis eaque delectus sunt, molestias quae explicabo ad laudantium aut omnis laboriosam.</p>
    <ul>
      <li><a href="">hello</a></li>
      <li><a href="">hello</a></li>
      <li><a href="">hello</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae in ea repellendus consequatur, impedit, sed deserunt officia? Consectetur consequuntur ipsa deleniti sequi vitae qui reiciendis, sint tempore porro voluptatem non?</p>
  </article>
  <article>
    <h3>Blog Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur optio ipsa totam distinctio asperiores magnam vitae veniam! Perspiciatis eaque delectus sunt, molestias quae explicabo ad laudantium aut omnis laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae in ea repellendus consequatur, impedit, sed deserunt officia? Consectetur consequuntur ipsa deleniti sequi vitae qui reiciendis, sint tempore porro voluptatem non?</p>
  </article>
</section> <!-- end blog section -->
<aside>
  <div class="box">
    <h2>About</h2>
    <img src="http://www.fillmurray.com/100/100" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nihil perferendis veniam, necessitatibus doloribus, obcaecati quaerat quae deleniti earum vitae tempora possimus consectetur excepturi quidem nam, quam inventore iusto impedit.</p>
  </div>
  <div class="box">
    <h2>Blog Roll</h2>
    <ul>
      <li><a href="">Someone cool's blog</a></li>
      <li><a href="">Someone cool's blog</a></li>
      <li><a href="">Someone cool's blog</a></li>
    </ul>
  </div>


</aside> <!-- end sidebar -->
<footer>
  <nav>
    <ul>
      <li><a href="">HOME</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</footer>
</body>
</html>
