

<button ng-click="showHero = !showHero">Show Heros</button>
  <ul ng-hide="showHero">
    <li ng-repeat="hero in mainCtrl.superheros">

      <a href="#/detail/{{$index}}">  Name: {{hero.name}}, Villian: {{hero.villian}}</a> - <a href="#/edit/{{$index}}">Edit</a> | <button ng-click="mainCtrl.deleteItem($index)">Delete</button>
    </li>
  </ul>

<button ng-click="showNewForm = !showNewForm" >Add New Hero</button>
<form ng-show="showNewForm" ng-submit="mainCtrl.addSuperHero(mainCtrl.newHero)">
  <input type="text" ng-model="mainCtrl.newHero.name" placeholder="Name">
  <input type="text" ng-model="mainCtrl.newHero.villian" placeholder="Villian">
  <button type="submit">Add Hero</button>
</form>

<input type="text" ng-model="userName">

<button ng-click="mainCtrl.login(userName)">Login!!!</button>
