.notify {
  border-radius: 20px;
  display:block;
  border: 1px solid black;
}
.warning {
  @extend .notify;
    border: 5px solid orange;
  }

.danger {
  @extend .notify;
    border: 5px solid red;
  }

.success {
  @extend .notify;
    border: 5px solid green;
  }
