@import 'notifications';

$blue-color: #ff0000;
$page-bg: #505050;
$left-column: 66%;
$right-column: 34%;

#page {
  background-color: $page-bg;
  color: white;

  .highlight {
    background-color: yellow;
  }
  p {
    a {
      span {
        border:5px dotted green;
      }
      color: white; text-decoration: none;}
    font-size:2em;
  }

}




.left-col, .right-col {
  float:left;
}

.left-col {
  width: $left-column;
}
.right-col {
  width: $right-column;
}

.box {
  background-color: $blue-color;
  padding: 12px;
  margin: 5px;
  display: inline-block;
}

h1 {
  color: $blue-color;
}

#page p {
  color: $blue-color;
}
