<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="styles.css">
<script id="postTmpl" type="html/template">
  <article data-index='<%= idx %>'>
  <h3><%= title %></h3>
  <p><%= content %></p>
  <p>- <%= author %></p>
  <p><button class='deletePost'>Delete</button><button class="showEditForm">Edit</button></p>
  <img src='<%= photo %>'>
  <div class="form">
    <p><input type="text" class="editTitle" value="<%= title %>"></p>
    <p><input type="text" class="editContent" value="<%= content %>"></p>
    <p><input type="text" class="editAuthor" value="<%= author %>"></p>
    <p><input type="text" class="editPhoto" value="<%= photo %>"></p>
    <button class="editWholePost">Edit Form</button>
   </div>
  </article>
</script>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="">nav link</a></li>
      <li><a href="">nav link</a></li>
      <li><a href="">nav link</a></li>
    </ul>
  </nav>
</header>
<section>


</section>
<aside>
  <div class="box">
    <form action="">
    <h4>  <label for="title">Title</label>
      <input type="text" name="title" placeholder="Title">
    </h4>
    <p>
      <label for="content">Blog Content</label>
      <textarea id="content" cols="30" rows="10" name="content"></textarea>
    </p>
    <p>
      <label for="author">Author</label>
      <input type="text" name="author" placeholder="Author">
    </p>
    <p>
      <label for="photo">Photo URL</label>
      <input type="text" class="photo" name="photo">
    </p>
    <p>
    <button type="submit">Submit Post</button>

    </p>


    </form>
    <p><button class="updatePost">Update Post</button></p>
  </div>
  <div class="box">
    <ul>
      <li><a href="">blog title</a></li>
    </ul>
  </div>
</aside>
<footer>
  <nav>
    <ul>
      <li><a href="">nav link</a></li>
      <li><a href="">nav link</a></li>
      <li><a href="">nav link</a></li>
    </ul>
  </nav>

</footer>

<!-- libraries -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>

<!-- data to use -->
<script src="reddit.js"></script>
<script src="data.js"></script>

<!-- template file -->
<script src="templates.js"></script>

<!-- application code -->
<script src="main.js"></script>
</body>
</html>
